.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}


.text-center{
    text-align: center;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}


.section-title{
    font-size: 35px;
    font-weight: bold;
    color-scheme: #181818;
}

.section-description{
font-size: 18px;
color: #757575;
}

.banner .banner-content .btn-primary{
    margin-right: 30px;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-2{
    color: #474747;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 26px 0 150px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
/* banner content */
.banner-content{
    max-width: 585px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 2px;
}

.banner-profile-pic{
    width: 584px;
}


/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right;
}

/* main style */
.main{
    max-width: 1140px;
    margin: 0 auto;
    /* text-align: center; */
}

.main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about style */
.about{
    border-radius: 10px;
    padding: 100px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    margin-bottom: 5px;
}

.item-description{
    font-weight: 600;
}

.skill{
    width: 204px;
    margin-right: 24px;
    padding: 33px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.skills-conteiner{
    display: flex;
}

.skills .section-description{
    padding: 30px;
}

/* Resume styles */
.resume-column .experience{
    width: 511px;
}

.resume-column .experience-title{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-description{
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
}
.experience-sub-title{
    color: #757575;
    margin-bottom: 20px;
    margin-top: 10px;
}

.experience-title{
    margin-bottom: 10px;
}
.resume .section-title{
    text-align: center;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}

.resume-download-cv{
    margin-top: 50px;
}


/* footer style */
footer .secondary-bg{
    height: 780px;
    width: 1600px;
}
.footer-style{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], textarea{
    height: 64px;
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    margin-bottom: 24px;

}

/* For mobile */
@media screen and (max-width: 576px) {
    .about{
        padding: 20px;
    }
    .about-items{
        flex-direction: column;
    }
    .skills-conteiner{
        flex-direction: column;
        align-items: center;
    }
    .resume-container{
        flex-direction: column;
    }
    .experience-description{
        width: 100vw;
    }
    .footer-style{
        padding: 20px;
        flex-direction: column;
    }
    .section-title{
        width: 100vw;
    }
    .banner{
        flex-direction: column;
        align-items: center;
    }
    nav{
        flex-direction: column;
    }
    .banner-profile-pic{
        width: 100%;
    }
    .btn-primary{
        margin-bottom: 5px;
    }
    .footer-column{
        width: 80%;
    }

}


